UserKnownHostsFile=/dev/null
StrictHostKeyChecking=no

Host amarillo1 amarillo-1 amarillo_1 ama1
  Hostname 128.224.95.181
  User root

Host amarillo2 amarillo-2 amarillo_2 ama2
  Hostname 128.224.95.182
  User root

Host victoria1 victoria_1 victoria-1 vic1
  Hostname 128.224.95.148
  User root

Host victoria2 victoria_2 victoria-2 vic2
  Hostname 128.224.95.149
  User root

Host dus3006
  Hostname 128.224.95.202
  User root
  KexAlgorithms +diffie-hellman-group1-sha1

Host dus5040 dus52
  Hostname 128.224.95.168
  User root

Host dus6630
  Hostname 128.224.95.138
  User root
